@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("../assets/fonts/LexendDeca-Regular.ttf") format("truetype");
  font-weight: 400;
}
.card {
  max-width: 330px;
  margin: 0 auto;
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  filter: brightness(1);
}
.card__image img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  position: relative;
  opacity: 0.8;
}
.card__image-overlay {
  background-color: hsl(277deg, 64%, 61%);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .card__body-stats, .card .card__body-title {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: hsl(0deg, 0%, 100%);
}
.card__body-title {
  padding: 35px 30px 12px;
  font-size: 28px;
}
.card__body-title--accent {
  color: hsl(277deg, 64%, 61%);
}
.card__body-text {
  font-family: "Inter", sans-serif;
  color: hsla(0deg, 0%, 100%, 0.6);
  text-align: center;
  line-height: 1.7;
  padding: 0 35px 12px;
  font-size: 15px;
}
.card__body-stats p:first-child span,
.card__body-stats p:nth-child(2),
.card__body-stats p:nth-child(3) {
  text-transform: uppercase;
}
.card__body-stats p {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-size: 23px;
  font-weight: 700;
}
.card__body-stats p span {
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
}
.card__body-stats-heading {
  color: hsla(0deg, 0%, 100%, 0.6);
}

@media only screen and (min-width: 1440px) {
  .card {
    max-width: 1110px;
    max-height: 445px;
    display: flex;
    flex-direction: row-reverse;
  }
  .card__image-wrapper {
    min-width: 540px;
  }
  .card .card__body-stats, .card .card__body-text, .card .card__body-title {
    text-align: left;
    padding-left: 72px;
  }
  .card__body-title {
    font-size: 36px;
    padding-top: 70px;
    padding-right: 72px;
  }
  .card__body-text {
    padding-top: 14px;
    padding-right: 120px;
  }
  .card__body-stats {
    display: flex;
    justify-content: flex-start;
    gap: 66px;
    padding-top: 34px;
  }
}
/*
- Mobile: 375px
- Desktop: 1440px
*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 35px;
  background-color: hsl(233deg, 47%, 7%);
}

.attribution {
  font-size: 11px;
  height: 20px;
  text-align: center;
  margin-top: 20px;
  color: hsla(0deg, 0%, 100%, 0.6);
}
.attribution a {
  color: hsl(277deg, 64%, 61%);
}

@media only screen and (min-width: 1440px) {
  body {
    padding: 177px 0px;
  }
  .attribution {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
